<%- include('./include/head.ejs') %>
<h1><%= board.title %></h1>
<p><%= board.content %></p>
<p>작성자: <%= board.user.name %></p>
<p>최종 작성일: <%= board.createdAt %></p>

<% if (isOwner) { %>
<button><a href="/board/edit/<%= board.postId %>">수정</a></button>
<form action="/board/delete/<%= board.postId %>" method="POST">
  <input type="submit" value="삭제" />
</form>

<% } %>

<p>댓글</p>
<p>작성자:</p>
<p>내용:</p>

<button><a href="/board">목록으로</a></button>
