<%- include('./include/head.ejs') %>

<h1>게시글 목록</h1>
<ul>
  <% twits.forEach(function(twit) { %> <% if (twit.grade === 2) { %>
  <a
    style="background-color: black; color: white; font-weight: bold"
    href="/board/content/<%= twit.postId %>"
  >
    <li style="background-color: black; color: white; font-weight: bold">
      <%= twit.title %> 작성자: <%= twit.user.name %>(<%= twit.user_id %>)
    </li></a
  >
  <% } else { %>
  <a href="/board/content/<%= twit.postId %>">
    <li>
      <%= twit.title %> 작성자: <%= twit.user.name %>(<%= twit.user_id %>)
    </li>
  </a>

  <% } %> <% }); %>
</ul>
<script>
  function onPageClick(event, page) {
    location.href = "/board?page=" + page;
    console.info(page + " (from options)");
  }
</script>
<%- include('./include/pagination.ejs') %>

<form action="/board/search/" method="get">
  <input type="text" name="result" placeholder="검색어를 입력하세요." />
  <button type="submit">검색</button>
</form>

<button><a href="/board/newpost">게시글 등록</a></button>
