<%- include('./include/head.ejs') %>

<h1>검색 결과</h1>
<ul>
  <% results.forEach(function(result) { %>
  <li>
    <a href="/board/<%= result.postId %>"><%= result.title %></a>
    내용: <%= result.content %>
  </li>
  <% }); %>
</ul>
<script>
  function onPageClick(event, page) {
    const queryParams = new URLSearchParams(window.location.search);
    queryParams.set("page", page); // 현재 페이지 설정

    const queryString = queryParams.toString();
    const searchUrl = `/board/search/?${queryString}`;

    location.href = searchUrl;
  }
</script>
<%- include('./include/pagination.ejs') %> <%-
include('./include/pagination.ejs') %>
<form action="/board/search/" method="get">
  <input type="text" name="result" placeholder="검색어를 입력하세요." />
  <button type="submit">검색</button>
</form>
<button><a href="/board/newpost">게시글 등록</a></button>
