<%- include('./include/head.ejs') %>
    <div class="container">
        <div class="contents">
            <h1 class="title">판매목록</h1>  
            <h3 class="counting">총 <span></span>개</h3>
            <form action="/car/hashtag">
                <input type="text" name="hashtag">
                <button class="btn">검색</button>
            </form>
            <ul class="viewImg">
                <% Cars.forEach(function(carList) { %>
                <li>
                    <a href="/car/detail/<%= carList.carNum %>">
                        <img src="<%= carList.picture %>" alt="" class="thumbnail">
                        <p><%= carList.brand %> <%= carList.model %></p>
                        <div class="option">
                            <span><%= carList.year %></span>
                            <span><%= carList.mile %>km</span>
                            <span><%= carList.fuel %></span>
                            <span><%= carList.hashtag %></span>
                        </div>
                    </a>
                </li>
                <% }); %>
            </ul>
            <a href="/car/carupload" class="goupload">내차등록</a>
            <% if (totalPages > 1) { %>
                <nav>
                  <ul class="pagination">
                    <% if (currentPage == 1) { %>
                      <li class="disabled"><span>&laquo;</span></li>
                    <% } else { %>
                      <li><a href="?page=<%= currentPage - 1 %>">&laquo;</a></li>
                    <% } %>
              
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <% if (i == currentPage) { %>
                        <li class="active"><span><%= i %></span></li>
                      <% } else { %>
                        <li><a href="?page=<%= i %>"><%= i %></a></li>
                      <% } %>
                    <% } %>
              
                    <% if (currentPage == totalPages) { %>
                      <li class="disabled"><span>&raquo;</span></li>
                    <% } else { %>
                      <li><a href="?page=<%= currentPage + 1 %>">&raquo;</a></li>
                    <% } %>
                  </ul>
                </nav>
              <% } %>
        </div>
    </div>

</body>
</html>