<%- include('./include/head.ejs') %>
    <div class="container">
        <div class="contents">
            <h1 class="title">내차팔기</h1>
            
            <ul class="viewImg">
                <% Cars.forEach(function(carList) { %>
                <li>
                    <h1><%= carList.carNum %></h1>
                    <img src="<%= carList.picture %>" alt="">
                </li>
                <% }); %>
            </ul>
            <a href="/car/carupload">내차등록</a>
        </div>
    </div>

    <ul>
        <% Cars.forEach(function(Car) { %>
        <li>
        작성자: <%= Car.user_id %>
        <%= Car.user_id %>
        </li>
        <% }); %>
    </ul>

</body>
</html>