<%- include('./include/head.ejs') %>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="slider">
    <% Adver.forEach(function(advers) { %>
        <div onclick="location.href='<%= advers.href %>'">
            <img src="<%= advers.img[0].url %>"/>
        </div>
    <% }); %>
</div>
<div class="container">
    <div class="contents">
        <div class="hashtagsearch">
            <form action="/hashtagsearch/" method="get">
                <input class="hashtagsearchbox" name="hashtag" placeholder="해쉬태그 검색 ex) #제네시스 #G80">
                <button type="submit">검색</button>
            </form>
        </div>

        <div class="reccar">
            <h1>추천 차량</h1>
            <ul>
                <% twits.filter(twit => twit && twit.recommends === 1).slice(0, 8).forEach(function(twit) { %>
                    <li>
                        <a href="/car/detail/<%= twit.carNum %>">
                            <div class="reccarlist" id="<%= isOwner === twit.user_id ? 'highlight' : '' %>">
                                <img src="<%= twit.picture[0].url %>" alt="" class="thumbnail"/>
                                <div class="like">
                                    <% let count=0; %>
                                    <% for(let i=0; i < twit.likes.length; i++) { %>
                                        <% if(twit.likes[i].user_id == isMine) { %>
                                        <% count++; %>
                                        <% } %>
                                    <% } %>

                                    <% if (typeof isMine === 'undefined') { %>
                                        <button class="notLoggedIn">♥ 로그인안함<%= twit.likes_count %></button>
                                    <% } else if (isMine === twit.user_id) { %>
                                        <button class="Mine">♥ 내차<%= twit.likes_count %></button>
                                    <% } else { %>
                                        <% if(!count) { %>
                                        <form action="/car/carfind" method="post">
                                            <input type="hidden" name="carNum" value="<%= twit.num %>">
                                            <button type="submit" class="heart">♥ <%= twit.likes_count %></button>
                                        </form>
                                        <% } else { %>
                                        <form action="/car/carfind2" method="post" onsubmit="return confirm('관심차량 목록에서 삭제하시겠습니까?')">
                                            <input type="hidden" name="carNum" value="<%= twit.num %>">
                                            <button type="submit" class="heart">○ <%= twit.likes_count %></button>
                                        </form>
                                    <% } %>
                                    <% } %>
                                </div>
                                <div class="carProfile">
                                    <div><%= twit.brand %> <%= twit.model %></div>
                                    <div class="carOption">
                                        <span><%= twit.fuel %></span>
                                        <span><%= twit.year %>년식</span>
                                        <h5><%= twit.price %><p>만원</p></h5>
                                    </div>
                                    <!-- <% for(i=0; i<Math.min(twit.hashtags.length,4); i++) { %>
                                        <div class="hash">#<%= twit.hashtags[i].cars_hashtag %></div>
                                    <% } %> -->
                                </div>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>


        <div class="popucar">
            <h1>인기 차량</h1>
            <ul>
                <% twits.sort((a, b) => b.likes_count - a.likes_count).slice(0, 8).forEach(function(twit) { %>
                        <li>
                            <a href="/car/detail/<%= twit.carNum %>">
                                <div class="popucarlist" id="<%= isOwner === twit.user_id ? 'highlight' : '' %>">
                                    <% if (twit.picture.length > 0) { %>
                                        <img src="<%= twit.picture[0].url %>" alt="" class="thumbnail">
                                        <% } %>
                                    <div class="like">
                                        <% let count=0; %>
                                        <% for(let i=0; i < twit.likes.length; i++) { %>
                                            <% if(twit.likes[i].user_id == isMine) { %>
                                            <% count++; %>
                                            <% } %>
                                        <% } %>
                                        <% if (typeof isMine === 'undefined') { %>
                                            <button class="notLoggedIn">♥ 로그인안함<%= twit.likes_count %></button>
                                        <% } else if (isMine === twit.user_id) { %>
                                            <button class="Mine">♥ 내차<%= twit.likes_count %></button>
                                        <% } else { %>
                                            <% if(!count) { %>
                                            <form action="/car/carfind" method="post">
                                                <input type="hidden" name="carNum" value="<%= twit.num %>">
                                                <button type="submit" class="heart">♥ <%= twit.likes_count %></button>
                                            </form>
                                            <% } else { %>
                                            <form action="/car/carfind2" method="post" onsubmit="return confirm('관심차량 목록에서 삭제하시겠습니까?')">
                                                <input type="hidden" name="carNum" value="<%= twit.num %>">
                                                <button type="submit" class="heart">○ <%= twit.likes_count %></button>
                                            </form>
                                        <% } %>
                                        <% } %>
                                    </div>
                                    <div>
                                        <div><%= twit.brand %> <%= twit.model %></div>
                                        <div><%= twit.fuel %> <%= twit.year %>년식 <%= twit.price %>만원</div>
                                        <!-- <% for(i=0; i<Math.min(twit.hashtags.length,4); i++) { %>
                                            <div class="hash">#<%= twit.hashtags[i].cars_hashtag %></div>
                                        <% } %> -->
                                    </div>
                                </div>
                            </a>
                        </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

</body>
<script>
    // $(function(){
    //     $('.bxslider').bxSlider({
    //     mode: 'horizontal',
    //     captions: true,
    //     // slideWidth: 600
    //     });
    // });
    $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 2000,
    });
</script>
</html>
<%- include('./include/footer.ejs') %>
