<%- include ./include/head.ejs %>

<div class="container">
  <section class="box">
    <aside class="mypage_left_area">
      <ul class="left_area_box">
        <li class="left_area_list"><a href="#">내차찾기 신청관리</a></li>
        <li class="left_area_list"><a href="#">내차팔기 신청관리</a></li>
        <li class="left_area_list"><a href="#">관심차량</a></li>
        <li class="left_area_list">
          <a href="/mypage/myinquiry/<%= user.id %>"> 내 문의</a>
        </li>
        <li class="left_area_list">
          <a href="mypage/password/<%= user.id %>">회원정보</a>
        </li>
      </ul>
    </aside>
    <div class="mypage_profile">
      <p><%= user.name %> 님</p>
      <p><a href="mypage/edit/<%= user.id %>">회원정보 수정</a></p>

      <p>관심차량</p>
      <p>판매준비차량</p>
    </div>
  </section>
</div>
