<%- include ./include/head.ejs %>

<div class="container">
    <section class="box">
        <aside class="mypage_left_area">
            <ul class="left_area_box">
                <li class="left_area_list"><a href="#">내차찾기 신청관리</a></li>
                <li class="left_area_list"><a href="#">내차팔기 신청관리</a></li>
                <li class="left_area_list"><a href="#">관심차량</a></li>
                <li class="left_area_list"><a href="/mypage/myinquiry/<%= user.id %>">
                내 문의</a></li>
                <li class="left_area_list"><a href="/mypage/edit/<%= user.id %>">회원정보</a></li>

            </ul>
        </aside>
        <div class="mypage_profile">
            <p> <%= user.name %> 님</p>
            <p><a href="mypage/edit/<%= user.id %>">회원정보 수정</a></p>

            <p>관심차량</p>
            <p>판매준비차량</p>

        </div>
        <div class="mypage_main_area">
            <div class="interest_car">
                <h3>관심차량</h3>
                <div class="interest_car_content">
                    <button type="button" onclick="location.href=('#')" class="mypage_btn">버튼</button>
                </div>
            </div>
            <div class="sales_list">
                <h3>판매목록</h3>
                <div class="sales_list_content">
                    <button type="button" onclick="location.href=('#')" class="mypage_btn">버튼</button>
                </div>

            </div>
            <div class="member_info">
                <h3>회원정보</h3>
                <div class="member_info_content">
                    <button type="button" onclick="location.href=('#')" class="mypage_btn">버튼</button>
                </div>

            </div>

        </div>

    </section>
</div>