<%- include('./include/head.ejs') %>

<h1>"<%= searchQuery %>" 검색 결과</h1>
<ul>
  <% twits.forEach(function(twit) { %>
  <li>
    <a href="/board/<%= twit.postId %>"><%= twit.title %></a>
    작성자: <%= twit.user.name %>
  </li>
  <% }); %>
</ul>

<button><a href="/board/newpost">게시글 등록</a></button>
