<%- include('../include/managerhead.ejs') %>
<h1>검색 결과</h1>
<ul>
  <% results.forEach(function(result) { %>
  <li>
    <a href="/manager/managerboard/<%= result.postId %>"><%= result.title %></a>
    내용: <%= result.content %>
  </li>
  <% }); %>
</ul>
<% if (totalPages > 1) { %>

<div>
  <% let start = Math.ceil(currentPage / 10) * 10 - 9; let end = Math.min(start
  + 9, totalPages); %> <% if (start > 1) { %>
  <a href="managerboard?page=1">첫 페이지</a>
  <% } %> <% if (currentPage > 10) { %>
  <a href="managerboard?page=<%= start - 1 %>">이전</a>
  <% } %> <% for(let i=start; i<=end; i++) { %> <% if(i === currentPage) { %>
  <strong style="font-size: 30px"><%= i %></strong>
  <% } else { %>
  <a href="result=<%= query %>?page=<%= i %>"><%= i %></a>
  <% } %> <% } %> <% if (end < totalPages) { %>
  <a href="managerboard?page=<%= end + 1 %>">다음</a>
  <% } %> <% if (end < totalPages - 9) { %>
  <a href="managerboard?page=<%= totalPages %>">마지막 페이지</a>
  <% } %>
</div>
<% } %>
<form action=":result" method="get">
  <input type="text" name="result" placeholder="검색어를 입력하세요." />
  <button type="submit">검색</button>
</form>
<button><a href="/manager/managerboard/newpost">게시글 등록</a></button>
