<%- include('../include/managerhead.ejs') %> 게시판관리
<ul>
  <% twits.forEach(function(twit) { %> <% if (twit.grade === 2) { %>
  <li style="background-color: black; color: white; font-weight: bold">
    <a
      style="background-color: black; color: white; font-weight: bold"
      href="/manager/managerboard/<%= twit.postId %>"
      ><%= twit.title %></a
    >
    작성자: <%= twit.user.name %> 내용: <%= twit.content %> <br />
    <button>
      <a href="/manager/managerboard/edit/<%= twit.postId %>/">수정</a>
    </button>
    <form
      action="/manager/managerboard/delete/<%= twit.postId %>"
      method="POST"
    >
      <input type="submit" value="삭제" />
    </form>
    <form
      action="/manager/managerboard/editgradedown/<%= twit.postId %>"
      method="POST"
    >
      <input type="submit" value="공지내리기" />
    </form>
  </li>
  <% } else { %>
  <li>
    <a href="/manager/managerboard/<%= twit.postId %>"><%= twit.title %></a>
    작성자: <%= twit.user.name %> 내용: <%= twit.content %> <br />
    <button>
      <a href="/manager/managerboard/edit/<%= twit.postId %>">수정</a>
    </button>
    <form
      action="/manager/managerboard/delete/<%= twit.postId %>"
      method="POST"
    >
      <input type="submit" value="삭제" />
    </form>
    <form
      action="/manager/managerboard/editgradeup/<%= twit.postId %>"
      method="POST"
    >
      <input type="submit" value="공지로등록" />
    </form>
  </li>
  <% } %> <% }); %>
</ul>

<% if (totalPages > 1) { %>

<div>
  <% let start = Math.ceil(currentPage / 10) * 10 - 9; let end = Math.min(start
  + 9, totalPages); %> <% if (start > 1) { %>
  <a href="managerboard?page=1">첫 페이지</a>
  <% } %> <% if (currentPage > 10) { %>
  <a href="managerboard?page=<%= start - 1 %>">이전</a>
  <% } %> <% for(let i=start; i<=end; i++) { %> <% if(i === currentPage) { %>
  <strong style="font-size: 30px"><%= i %></strong>
  <% } else { %>
  <a href="managerboard?page=<%= i %>"><%= i %></a>
  <% } %> <% } %> <% if (end < totalPages) { %>
  <a href="managerboard?page=<%= end + 1 %>">다음</a>
  <% } %> <% if (end < totalPages - 9) { %>
  <a href="managerboard?page=<%= totalPages %>">마지막 페이지</a>
  <% } %>
</div>
<% } %>
<form action="/manager/managerboard/search/:result" method="get">
  <input type="text" name="result" placeholder="검색어를 입력하세요." />
  <button type="submit">검색</button>
</form>
