<%- include('../include/managerhead.ejs')%>

<h1 align="center"> 1대1 문의 답변하기</h1>
<form action="/manager/managerinquiry/<%= title.number %>" method="post">
<div align="center">
    <p>유저ID: <%= title.user_id %></p>
    <p>제목: <%= title.title %></p>
    <p>내용: <%= title.content %></p><br><br>
    답변<br>
    <textarea style="border: solid 1px white;" rows="15" cols="70"
    name="answer"><%= title.answer %>
    </textarea><br>
    <button type="submit">등록</button>
</form>
</div>