<%- include('../include/managerhead.ejs') %> 게시판관리
<ul>
  <% twits.forEach(function(twit) { %> <% if (twit.grade === 2) { %>
  <li style="background-color: black; color: white; font-weight: bold">
    <a
      style="background-color: black; color: white; font-weight: bold"
      href="/manager/managerboard/content/<%= twit.postId %>"
      ><%= twit.title %> 작성자: <%= twit.user.name %>(<%= twit.user_id %>)
      내용: <%= twit.content %></a
    >
    <br />
    <button
      onclick="return confirm ('<%= twit.user.name %> 님의 공지글을 수정하시겠습니까?')"
    >
      <a href="/manager/managerboard/edit/<%= twit.postId %>/">수정</a>
    </button>
    <form
      action="/manager/managerboard/delete/<%= twit.postId %>"
      method="POST"
      onsubmit="return confirm('<%= twit.user.name %> 님의 공지글을 정말로 삭제하시겠습니까?')"
    >
      <input type="submit" value="삭제" />
    </form>
    <form
      action="/manager/managerboard/editgradedown/<%= twit.postId %>"
      method="POST"
      onsubmit="return confirm('<%= twit.user.name %> 님의 공지글을 정말로 일반게시글로 내리시겠습니까?')"
    >
      <input type="submit" value="공지내리기" />
    </form>
  </li>
  <% } else { %>
  <li>
    <a
      href="/manager/managerboard/content/<%= twit.postId %>"
      style="color: white"
    >
      <%= twit.title %> 작성자: <%= twit.user.name %>(<%= twit.user_id %>) 내용:
      <%= twit.content %>
    </a>

    <br />
    <button
      onclick="return confirm ('<%= twit.user.name %> 님의 게시글을 수정하시겠습니까?')"
    >
      <a href="/manager/managerboard/edit/<%= twit.postId %>">수정</a>
    </button>
    <form
      action="/manager/managerboard/delete/<%= twit.postId %>"
      method="POST"
      onsubmit="return confirm('<%= twit.user.name %> 님의 게시글을 정말로 삭제하시겠습니까?')"
    >
      <input type="submit" value="삭제" />
    </form>
    <form
      action="/manager/managerboard/editgradeup/<%= twit.postId %>"
      method="POST"
      onsubmit="return confirm('<%= twit.user.name %> 님의 게시글을 정말로 공지글로 등록하시겠습니까?')"
    >
      <input type="submit" value="공지로등록" />
    </form>
  </li>
  <% } %> <% }); %>
</ul>
<script>
  function onPageClick(event, page) {
    location.href = "/manager/managerboard?page=" + page;
    console.info(page + " (from options)");
  }
</script>
<%- include('../include/pagination.ejs') %>

<form action="/manager/managerboard/search/" method="get">
  <select name="searchType">
    <option value="title">제목</option>
    <option value="content">내용</option>
    <option value="title_content">제목+내용</option>
    <option value="id">작성자</option>
  </select>
  <input type="text" name="result" placeholder="검색어를 입력하세요." />
  <button type="submit">검색</button>
</form>
