<%- include('../include/managerhead.ejs') %>


<div class="faqblock">    
    <h1 class="manyques" align="center">자주 묻는 질문 관리</h1><br>
    <div class="manytime" align="center">
        <% twits.forEach(function(twit) { %>
        <table class="manytable">
            <tr>등록 번호: <%= twit.number %></tr><br><br>
            <tr>제목: <%= twit.title %></tr><br><br>
            <tr>내용: <%= twit.content %></tr><br><br>
        </table>
        <button class="update" type="submit"><a href="/manager/managerFaq/<%= twit.number %>">수정</a></button>
        <form action="/manager/managerfaq/delete/<%= twit.number %>" method="POST">
            <input type="submit" value="삭제">
        </form>
        <br><br><hr><br><br><br>
        <% }) %>
    </div>
</div>
<br><br><br>