<%- include('../include/managerhead.ejs') %>
<div class="container2">
  <div class="contents">
    <div class="titletext"><i class="fa-solid fa-users fa-fade"></i> 회원관리</div>
    <hr class="hrtitle">
    <table>
        <tr>
            <th>No</th>
            <th>이름</th>
            <th>아이디</th>
            <th>이메일</th>
            <th>전화번호</th>
            <th>나이</th>
            <% if(user.grade === 3) { %>
                <th>회원등급</th>
                <th>등급수정</th>
                <th>회원탈퇴</th>
            <% } %>
        </tr>
        <% Users.forEach(function(users) { %>
            <% if(user.id === users.id || user.grade === 3) { %>
            <tr>
                <td><%= users.no %></td>
                <td><%= users.name %></td>
                <td><%= users.id %></td>
                <td><%= users.email %></td>
                <td><%= users.tel %></td>
                <td><%= users.birth %></td>
                <% if(user.grade === 3) { %>
                    <td><%= users.grade %></td>
                    <td>
                        <form action="/manager/managerUser/edit/<%= users.id %>" method="post">
                            <% if(users.grade === 1) { %>
                                <button>등급승급</button>
                            <% } else if(users.grade === 2) { %>
                                <button>등급강등</button>
                            <% } %>
                        </form>
                    </td>
                    <td>
                        <% if(users.grade === 1 || users.grade === 2) { %>
                        <form action="/manager/managerUser/delete/<%= users.id %>" method="post">
                            <button>탈퇴</button>
                        </form>
                        <% } else %>
                    </td>
                <% } %>
            </tr>
            <% } %>
        <% }); %>
    </table>
  </div>
  <script>
    function onPageClick(event, page) {
      location.href = "/manager/managerUser?page=" + page;
      console.info(page + " (from options)");
    }
  </script>

</div>
<%- include('../include/pagination.ejs') %>
</body>
</html>